body {


}
h1 {
  

}

h2 {
  color: #6495ED /*-- CornflowerBlue */

}

h3 {
 color: hsl(280, 61%, 50%) /* DarkSlateBlue */
  
}


nav {
 color: rgb(0, 0, 139); /* DarkOrchid */
   border-style: solid;
  border-color:blue;
  border-width:.2mm;
  
}

section {
  background-color: AliceBlue
  
}

.border {
  border-style: solid;
  border-color: navy;
  border-width: 5px;
  border-radius: 8pt;
  
}

.superh1 {color: green; font-size: 32px}
/* use .class selector anywhere */

#toph {color: blue}
/* ID selector is very specific - should only be used ONCE in code */



