* {
  font-family: Bodoni Moda, serif;
  text-color: black;
  text-align: center;

}

@media screen and (min-width: 350px) {
  body {
    background-color: #FFFFF0 /* ivory */

body {
  font-size: 20px;
}

h1 {
  /* nothing added here because it is added in the <style> tags in the html file */
 position:sticky;
}

h2 {
  color: #6495ED; /*-- CornflowerBlue */
  font-size: 4ch;
  text-decoration: underline;
  

}

h3 {
 color: hsl(280, 61%, 50%); /* DarkSlateBlue */
 font-size: 2em;
}


nav {
 color: rgb(0, 0, 139); /* DarkOrchid */
  border-style: solid;
  border-color:blue;
  border-width:.2mm;
  margin: auto;
  padding: 30px 60px 30px 60px;
  
}

section {
  background-color: AliceBlue;
  
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 150px;
}

aside {
  font-size: 110%; 
}

a[target] {
  background-color: LavenderBlush;
}

/* mouse moves over link */
a:hover {
  background-color:LightSeaGreen;
}

/* link is selected */
a:active {
 color: #FF6347
}
  
#introduction {
  margin: 50px 100px 50px 100px;
}


.border {
  border-style: solid;
  border-color: navy;
  border-width: 5px;
  border-radius: 8pt;
  
}

#myFavesTable {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
    
}

.superspecial {
  color: green;
  font-size: 32px;
  display:inline;
  max-width: 200%;
  min-width: 30%;
  
} /* use .class selector anywhere */


#coolId {
  color: blue;
  display: none;
  position: static;
} /* ID selector is very specific - should only be used ONCE in code */


.genericBox {
  height: 150px;
  width: 900px;
  border: 2px solid green;
}

.lists {
  text-align:left; 
}

.author {
  background-color: LightCyan;
  display:inline-block;
}

.quote {
  display: block;
}


.container {
  display:flex;
  flex-direction:column;
  flex-flow: row nowrap;
  justify-content:center;
  align-items:center;
  
  
}

.grid {
  display:grid;
  grid-template: none;
  column-gap: 15px;
  row-gap: 15px;
  justify-items: center;
  align-items: center;
  
}
